/* Para deshabilitar la opción de selección en imágenes */
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Para deshabilitar la opción de selección en cualquier elemento (class="noselect") */
.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cabecera {
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  height: 90vh;
  background-size: cover;
}

input + [role="tooltip"] {
	display: none;
}

/* ¿Modificar con js para que se oculte al pulsar ESC? */
input:focus + [role="tooltip"] {
	display: block;
	position: absolute;
	top: 100%;
}

#logo {
  position: relative;
}

#logo-img {
  padding-top: 2%;
  width: 11%;
  height: 11%;
}
